h1, h2 {
    color: black;
    font-family: 'Times New Roman';
}

body{
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-size: 840px 1020px;
    background-position: center;
    border-radius: 10px;

    border: solid black; 
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    
}

p {
    color: black;
    display: block;
    margin-bottom: 10px;
}

table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    border: none;
}

th, td { 
    padding: 10px;
    border:none;
}

th {
    background-color:#D3D3D3;
    color:black;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

tr:nth-child(even) {
    background-color: #f1f1f1; 
}

tr:nth-child(odd) {
    background-color: #ffffff; 
}